:root {
  --primary-color: #ffffff;
  --background-additional-color: #f5f4fa;
  --accent-background: #2f303a;
  --primary-text-color: #212121;
  --subsidiary-text-color: #757575;
  --accent-color: #2196f3;
  --text-footer-link: rgba(255, 255, 255, 0.6);
  --hero-background: #c4c4c4;
  --index-icon-background: #f5f4fa;
  --social-link-color: #afb1b8;

  --transition-time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* -------- */
.logo-web {
  color: var(--accent-color);
}
.studio-header {
  color: #000000;
  padding-right: 93px;
}
.logo-web,
.studio-header,
.studio-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.studio-footer {
  color: var(--primary-color);
}
/* -------- */
.page-active,
.header-address:hover,
.header-address:focus,
.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.page-active,
.header-address,
.nav-item {
  transition-property: color, fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.nav-item,
.comand-name {
  color: var(--primary-text-color);
}
.header-address {
  color: var(--subsidiary-text-color);
}
.footer-section {
  background-color: var(--accent-background);

  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  color: var(--primary-color);
}
.footer-link {
  color: var(--text-footer-link);
}

.nav-item,
.header-address {
  font-weight: 500;
  letter-spacing: 0.02em;
}
header {
  border-bottom: 1px solid #ececec;
}
.footer-address,
button {
  font-style: normal;
  font-family: inherit;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
header {
  padding-top: 25px;
  padding-bottom: 23px;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
header > .conteiner,
.header-nav,
.header-link,
.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts {
  margin-left: auto;
}

header ul {
  padding: 0px;
  margin: 0px;
}
.header-link > li,
.header-contacts > li {
  display: block;
}
.header-link > li:not(:last-child),
.header-contacts > li:not(:last-child) {
  padding-right: 50px;
}
.page-active,
.nav-item {
  position: relative;

  padding: 32px 0px;
}
.page-active::after {
  content: "";

  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.nav-item:hover::after,
.nav-item:focus::after {
  content: "";

  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}
.header-address {
  display: flex;
  align-items: center;
}
.header-icon {
  margin-right: 10px;
}
footer ul {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
footer li:not(:last-child) {
  padding-bottom: 9px;
}
.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.join {
  margin-left: 70px;
}
.join-phrase {
  color: var(--primary-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0px;
}
.social-list {
  display: flex;
}
.social-list li:not(:last-child) {
  margin-right: 10px;
}
.social-cards {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-color);

  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.social-cards:hover,
.social-cards:focus {
  background-color: var(--accent-color);
}
.social-links {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.join-input {
  display: flex;
}
.join-input > input {
  width: 358px;
  height: 50px;

  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--accent-background);
  color: var(--primary-color);
}
.join-check {
  margin-left: 93px;
}

.join-check input {
  margin-right: 12px;
  padding-left: 16px;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
}
.join-check input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}
.button-join {
  display: flex;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-right: 29px;
  padding-bottom: 10px;
  padding-left: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  background-color: var(--accent-color);
}
.button-join > span {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  color: var(--primary-color);
}
.button-join > svg {
  width: 24px;
  height: 24px;

  fill: var(--primary-color);
}
/* index.html */
.hero-section {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;

  color: var(--primary-color);
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/background-hero.jpg");
  background-color: var(--hero-background);
}

.button-active {
  border: 0px;
  border-radius: 4px;

  transition-property: background-color, color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.button-active,
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.advantages-background {
  background-color: var(--index-icon-background);

  width: 270px;
  height: 120px;
  border-radius: 4px;

  padding-top: 25px;
  margin-bottom: 30px;
}
.advantages-icon {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  margin: auto;
}
.advantages-text,
.profession {
  color: var(--subsidiary-text-color);
}
.hero-phrase {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;

  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.advantages-list > li:not(:last-child) {
  margin-right: 30px;
}
.advantages-list h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.advantages-list p {
  margin: 0px;
}
.work {
  padding-bottom: 94px;
}

.we-are-working > h2 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.we-are-working > ul {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.working-conteiner {
  position: relative;
}
.we-are-working img {
  display: block;
}
.we-are-working li:not(:last-child) {
  margin-right: 30px;
}
.working-content {
  position: absolute;
  left: 0;
  bottom: 0;

  text-align: center;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}
.working-content > .pfrase {
  margin-top: auto;
  margin-bottom: auto;

  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;

  color: var(--primary-color);
}
.team-section {
  background-color: var(--background-additional-color);

  padding-top: 94px;
  padding-bottom: 94px;
}
.head-phrase {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 0px;
}
.team-section ul {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.team-section li {
  background-color: var(--primary-color);
}
.team-section li:not(:last-child) {
  margin-right: 30px;
}
.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.comand-resume {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-section img {
  display: block;
}
.comand-name {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;

  color: var(--primary-text-color);
}
.profession {
  margin-top: 0px;
  margin-bottom: 16px;
  text-align: center;
}
.little-phrase,
.comand-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.team-list {
  display: flex;
  margin-left: 32px;
}
.team-list li:not(:last-child) {
  margin-right: 10px;
}
.team-list a {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  color: var(--social-link-color);

  transition-property: background-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.team-list a:hover,
.team-list a:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
.team-links {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;

  fill: currentColor;
}
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-section ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.clients-section li:not(:last-child) {
  margin-right: 30px;
}
.client-cards {
  display: block;
  width: 170px;
  height: 90px;

  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  color: var(--social-link-color);

  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.client-cards:hover,
.client-cards:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.client-icon {
  display: block;
  margin: auto;
  margin-top: 20px;
  fill: currentColor;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.2);

  transform: scale(1);
  transition-property: transform;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  padding: 40px;

  background-color: var(--primary-color);
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border: 1px solid #919191;
  border-radius: 50%;

  background-color: var(--primary-color);
  cursor: pointer;

  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.modal-button:focus,
.modal-button:hover {
  color: var(--accent-color);
}
.x {
  width: 11px;
  height: 11px;
}
.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.input-title {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: var(--subsidiary-text-color);
}
.input-title:nth-child(1n + 2) {
  margin-top: 10px;
}
.input-conteiner {
  position: relative;
  margin: auto;
}
.input-conteiner input {
  display: block;
  min-width: 448px;
  height: 40px;

  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  cursor: pointer;

  transition-property: border-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.icon-conteiner {
  position: absolute;
  top: 0;
  left: 0;

  width: 42px;
  height: 40px;

  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.icon-input {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;

  fill: currentColor;
}
.input-conteiner input:hover,
.input-conteiner input:focus,
.input-conteiner input:active,
.modal-window textarea:hover,
.modal-window textarea:focus,
.modal-window textarea:active {
  border-color: var(--accent-color);
  outline: none;
}
.input-conteiner input:hover + .icon-conteiner,
.input-conteiner input:focus-within + .icon-conteiner {
  color: var(--accent-color);
}
.modal-window textarea {
  resize: none;
  display: block;
  padding: 12px 16px;
  margin-bottom: 20px;

  width: 448px;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.modal-window textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.checkbox-conteiner {
  max-width: 425px;
  max-height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.agree-phrase {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--subsidiary-text-color);
}
.agree-phrase::before {
  content: "";

  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url(../img/Vector.svg);
  background-size: contain;

  transition-property: background-image;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.checkbox:checked + .agree-phrase::before {
  content: "";

  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  background-image: url(../img/icon-check.svg);
  background-size: contain;
}
.modal-window a {
  display: inline-block;
  margin-left: 4px;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration: underline;
}
.modal-window .submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  background: var(--accent-color);
  border: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--primary-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.25);
}

/* portfolio.html */
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px;
  justify-content: center;
}
.button-list > li:not(:last-child) {
  margin-right: 8px;
}
.button {
  background-color: var(--background-additional-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;

  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  transition-property: background-color, color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: -30px;
  margin-bottom: 0px;
  padding: 0px;
  justify-content: center;
}
.works-list > li {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #eeeeee;
}
.works-list > li:nth-child(3n) {
  margin-right: 0px;
}
.works-list > li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.works-card:hover,
.works-card:focus-within {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  transition-property: box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}
.works-card > a:focus .project-anonimus {
  transform: translateY(0);
}
.works-card:hover .project-anonimus {
  transform: translateY(0);
}
.works-list img {
  display: block;
}
.project-conteiner {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.project-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0px;
  margin-bottom: 4px;
}
.project-category {
  color: var(--subsidiary-text-color);
  font-size: 16px;
  line-height: 1.88;

  margin-top: 0px;
  margin-bottom: 0px;
}
.works-image {
  position: relative;
  overflow: hidden;
}
.project-anonimus {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  background-color: var(--accent-color);
  opacity: 0.9;

  transition-property: transform;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  transform: translateY(100%);
}
.no-reed-this {
  margin: 0;

  font-size: 18px;
  line-height: 28px;
  font-weight: bold;

  color: var(--primary-color);
}
